<table class="table table-bordered table-inverse">

  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>IsBlocked</th>
  </tr>
  <tr *ngFor="let u of users">
    <td>
      {{u?.id}}
    </td>
    <td>
      {{u?.username}}
    </td>
    <td>
      {{u?.email}}
    </td>
    <td *ngIf="u.isAdmin">
      Admin
    </td>
    <td *ngIf="!u.isAdmin">
      User
    </td>
    <td>
      {{u?.isBlocked}}
    </td>
    <td><button class="btn btn-lg btn-outline-danger" (click)="blockUser(u?.id)">Block</button></td>
  </tr>

</table>
